body {
	margin: 0;
	padding: 0;
	font-family: 'Biryani', sans-serif;
	color: #222;
}
header {
	height: 60px;
	display: flex;
	align-content: center;
	position: fixed;
	width: 100%;
	background: white;
	top: 0;
}
.header-sides {
	flex: 50%;
	display: flex;
	align-content: center;
}
nav {
	display: inline-block;
}
nav > ul {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 60px;
}
nav > ul > a > li {
	display: inline-block;
	padding: 18px 22px 14px 22px;
}
nav > ul > a {
	display: inline-block;
	color: #222;
}
.nav-line {
	display: inline-block;
	width: 3px;
	height: 40px;
	background: #6675FF;
}
.header-logo {
	height: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: flex-end;
	color: #6675FF;
	margin-left: 5%;
	margin-right: 30px;
	max-width: 183.88px;
}
.header-logo > img {
	height: 100%;
	margin-right: 5px;
}
.header-logo > a {
	font-size: 25px;
	margin: 0;
	margin-bottom: 5px;
	font-weight: 600;
	color: #6675FF;
	text-decoration: none;
}
.header-right-side {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.language-dropdown {
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 4px;
}
.language-dropdown > button {
	background: none;
	border: none;
	outline: none;
	font-family: 'Biryani', sans-serif;
	font-size: 15px;
}
.language-dropdown > p {
	position: relative;
	margin: 0;
}
#languages {
	position: absolute;
	top: 40px;
	align-items: center;
	flex-direction: column;
	display: none;
	left: -3px;
	background: white;
	width: 50px;
}
#languages.active {
	display: flex;
}
#languages > button {
	background: none;
	border: none;
	outline: none;
	font-family: 'Biryani', sans-serif;
	text-align: left;
	padding-left: 10px;
	font-size: 15px;
	width: 100%;
}
#languages > p {
	margin: 0;
	padding: 5px;
}
#languages > button:hover {
	background: #6675FF;
	color: white;
}
#language-dropdown-triangle {
	margin-bottom: 4px;
	margin-left: 0px;
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 5px 0 5px;
	border-color: #555 transparent transparent transparent;
}
#language-dropdown-triangle.active {
	border-width: 0 5px 8px 5px;
	border-color: transparent transparent #555 transparent;
}
#login {
	margin: 5px 20px 0 5%;
	background: none;
	border: none;
	outline: none;
	font-family: 'Biryani', sans-serif;
}
#signup {
	background: none;
	border: none;
	outline: none;
	height: auto;
	padding: 10px 35px;
	background: #6675FF;
	font-size: 16px;
	color: white;
	border-radius: 30px;
	font-family: 'Biryani', sans-serif;
	cursor: pointer;
}
.signup {
	margin-right: 5%;
}
.main-block {
	margin-top: 60px;
	background-image: url("main-ad.png");
	background-size: cover;
	background-position: center top;
	height: 800px;
	width: 100%;
	display: flex;
}
.main-block > div {
	flex: 50%;
}
.main-block-right {
	display: flex;
	align-items: center;
}
.main-block-right-container > img {
	height: 80px;
	margin-right: 20px;
}
.main-block-right-container > h1 {
	color: white;
	font-size: 80px;
	margin-bottom: 10px;
}
.table-block {
	height: 600px;
	width: 80%;
	margin: 0 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.table-item {
	display: inline-flex;
	flex: 33.333%;
	text-align: center;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.table-item > img {
	width: 50%;
}
.table-item > h1  {
	margin-bottom: 0;
}
footer {
	height: 550px;
	background: #6675FF;
	overflow: auto;
}
.main-footer {
	display: flex;
	width: 80%;
	margin: 50px 10% 0 10%;
	color: white;
}
.main-footer hr {
	border: 1px solid white;
	margin-right: 30px;
}
.main-footer a {
	display: block;
	color: white;
	text-decoration: none;
	margin-top: 16px;
}
.main-footer > div {
	flex: 25%;
	height: 300px;
} 
.logo-area > img {
	width: 60%;
}
.logo-area {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.logo-area > h2 {
	margin: 0;
}
.navigation-area > h2 {
	margin-bottom: 0;
}

.company-area > h2 {
	margin-bottom: 0;
}

.faq-area > h2 {
	margin-bottom: 0;
}
footer > hr {
	margin: 50px 10% 0 10%;
	width: 80%;
	border: 1px solid white;
}
.bottom-footer {
	width: 80%;
	margin: 0 10%;
	display: flex;
}
.bottom-footer .left-side {
	flex: 50%;
	color: white;
	display: inline-flex;
	height: 80px;
	align-items: center;
	margin-top: 5px;
}
.bottom-footer .left-side > p {
	display: inline-block;
	margin-right: 30px;
}
.bottom-footer .left-side > a {
	display: inline-block;
	color: white;
	text-decoration: none;
}
.bottom-footer .right-side > p {
	color: white;
}
.bottom-footer .right-side > a > img {
	display: inline-block;
	width: 50px;
	margin: 10px;
}
.bottom-footer .right-side {
	display: inline-flex;
	align-items: center;
	height: 80px;
	margin-top: 5px;
}
.asterisk {
	color: red;
}
#mc_embed_signup {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	height: calc(100vh - 60px);
	align-items: center;
}
#mc_embed_signup_scroll {
	box-shadow: 0 0 10px #444;
	padding: 40px;
	border-radius: 10px;
	background: white;
}
#mc_embed_signup > form {
	display: inline-block;
}
#mc_embed_signup_scroll > h2 {
	text-align: center;
	margin: 30px 0;
}
#mc_embed_signup_scroll > .mc-field-group label {
	display: block;
	font-size: 16px;
	margin-top: 20px;
}
#mc_embed_signup_scroll > .indicates-required {
	text-align: right;
	font-size: 12px;
}
#mc_embed_signup_scroll > .mc-field-group input {
	display: block;
	width: 500px;
	padding: 5px 0px 5px 10px;
	font-family: 'Biryani', sans-serif;
}
.mc-field-group.size1of2  label {
	display: inline-block !important;
}
.mc-field-group.size1of2  input {
	display: inline-block !important;
	width: 25px !important;
	padding: 0 !important;
}
.clear {
	margin: 20px 0;
}
.clear > input {
	padding: 10px 30px;
	font-size: 16px;
	background: #6675FF;
	color: white;
	border: none;
	outline: none;
	border-radius: 3px;
	cursor: pointer;
}
.clear > input:hover {
	background: #3347ff;
}
#map {
	height: 650px;
	width: 1100px;
}
#map > iframe {
	height: inherit;
	width: inherit;
}
.map-area {
	margin-top: 140px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.search-area {
	margin-left: 30px;
}
.search-area > label {
	display: block;
	font-size: 20px;
	margin: 10px 0 5px 0;
}
.map-area-content {
	display: inline-flex;
	flex-direction: row;
	box-shadow: 0 0 10px #444;
	padding: 40px;
	border-radius: 10px;
	background: white;
}
.search-area > input {
	width: 200px;
	padding: 5px;
	font-size: 16px;
}
.submit {
	margin-top: 28px;
	width: 100% !important;
	padding: 6px 30px !important;
	font-size: 16px !important;
	background: #6675FF;
	color: white;
	border: none;
	outline: none;
	display: block;
	border-radius: 3px;
	cursor: pointer;
}
.trip-values {
	margin-top: 20px;
}